// RESET
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// COMMON
.container {
  width: 60%;
}

.bg-container {
  display: flex;
  justify-content: center;
}

// Font
html {
  font-family: "Roboto", sans-serif;
}

// Text
ul {
  list-style: none;
}

small {
  font-size: 0.9rem;
  font-weight: bold;
  color: #00a6a6;
  text-transform: uppercase;
}

h1 {
  font-size: 3.3rem;
  color: #21333e;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 900;
}