// Backgound
$bg-header: #21333e;
$bg-light-blue: #daeced;
$bg-dark-blue: #111117;
$bg-darker-blue: #0d0d11;
$bg-light-green: #eef4ed;
$bg-dark-green:#cce3de;

// Card
$card-dark: #19191f;

// Text
$text-light: #058283;
$text-lighter: #00a6a6;
$text-dark: #21333e;
$text-footer: #c0c3d0;

// Other
$services-evidencer: #0e272d;
$nexgen-logo-bg: rgba(0, 166, 166, .2);
$nexgen-logo-bg-2: rgba(14, 39, 45, .7);
$lead-customer-logo-bg: #262f1d;

// Font
$big: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;