// Backgound
$bg-header: #21333e;
$bg-first-icon: #daeced;
$bg-first-four-sez: #eef4ed;
$bg-third-sez: #111117;
$bg-most-popular: #00a6a6;
$bg-footer: #111117;

// Card
$card-dark: #19191f;

// Icon
$icon-third-sez: #058283;

// Text
$text-light: #058283;
$text-dark: #21333e;

// Button
$btn-get-in-touch: #058283;

// Other
$services-evidencer: #0e272d;
$nexgen-logo-bg: rgba(0, 166, 166, .2);
$nexgen-logo-bg-2: rgba(14, 39, 45, .7);
$lead-customer-logo-bg: #262f1d;